Source: ros-groovy-rxtools
Section: misc
Priority: extra
Maintainer: "Dirk Thomas <dthomas@osrfoundation.org>"
Build-Depends: debhelper (>= 7.0.50~), libwxgtk2.8-dev, ros-groovy-catkin, ros-groovy-roscpp, ros-groovy-rosgraph-msgs, ros-groovy-roslib, ros-groovy-swig-wx, ros-groovy-wxpython-swig-interface
Homepage: http://www.ros.org/wiki/rxgraph
Standards-Version: 3.9.2

Package: ros-groovy-rxtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwxgtk2.8-dev, python-gtk2, python-matplotlib, python-wxgtk2.8, ros-groovy-roscpp, ros-groovy-rosgraph-msgs, ros-groovy-roslib, ros-groovy-rospy, ros-groovy-swig-wx, ros-groovy-wxpython-swig-interface, ros-groovy-xdot
Description: rxtools is two things. First it is a library of GUI widgets, written in wxWidgets, that can be embedded in other applications. Second, it is a set of GUI applications that view and manage ROS state. These GUI applications include rxconsole and rxplot. Pieces of rxtools use some icons from the Silk icon pack from famfamfam. These icons have a separate Creative Commons Attribution 2.5 License. The source code for the software in this package is BSD.
